<h3>Diagnostics.</h3>
<div class="row">
    <div class="col-md-12">
        <p>@ViewData["Message"]</p>
        @if (ViewData["ErrorMessage"] != null){
             <p style="color:red;">@ViewData["ErrorMessage"]</p>
        }
    </div>
</div>
<h3>Deployment info.</h3>
<div class="row">
    <div class="col-md-12">
        <p>@ViewData["ContainerServicesTask"]</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4>Web server</h4>
        <p>@ViewData["WebContainer"]</p>
    </div>
    <div class="col-md-6">
        <h4>API server</h4>
        <p>@ViewData["ApiContainer"]</p>
    </div>
</div>

